@use './../../styles/tokens' as t;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, t.$ui-bg 92%, t.$ui-bg-contrast 100%);
}
