@use '../../../styles/tokens' as t;

.main {
  width: 100%;
  padding-inline: clamp(1.5rem, 8vw, 10rem);
  max-width: t.$layout-container-max;
  margin-inline: auto;
  transition: padding-inline 200ms ease;
}

@media (max-width: t.$break-sm) {
  .main {
    padding-inline: 1.5rem;
  }
}
